
@import url('https://fonts.googleapis.com/css2?family=Amiko');

body {
    font-family: 'Amiko' !important;
    background: rgb(226,183,167);
    background: linear-gradient(135deg, rgba(226,183,167,1) 0%, rgba(251,181,129,1) 100%);
    color: #664d63;
    font-size: 12px;
}

a {
    color: black;
    transition-property: color;
    transition-duration: 0.2s;
    text-decoration: none;
}

a:hover {
    color: #fbb581;
}

/*below, columns*/
.column {
  float: left;
}

.header {
  width: 25%;
}

#head {
    width: 96%;
}

.main {
    width: 67%;
    height: 96vh;
    overflow-y: auto;
}

.main h1 {
    font-size: 52px;
    font-weight: bold;
    font-style: italic;
}

.main .content {
    overflow-y: auto;
    max-height: 70vh;
    background-color: #f8e7e0;
    padding: 15px;
    margin-bottom: 10px;
}

.main .content .box {
}

.main .content .box h1 {
    font-style: normal;
    font-size: 32px;
}

.main .content .box .textwrap {
    float: right;
    margin: 10px;
}

.nav {
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.nav p {
    background-color: black;
    width: 70%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    transition-property: background-color;
    transition-duration: 0.2s;
    color: #fbb581;

}

.nav a {
    text-decoration: none;
    color: #fbb581;
    transition-property: color;
    transition-duration: 0.2s;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav p:hover{
    background-color: #fbb581;
}

.nav a:hover{
    color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #664d63;
}

@media (max-width: 800px){
    .column {
        float: none;
    }

    #head {
        display: none;
    }

    .main, .nav {
        width: 100%;
        height: auto;
    }

    .nav {
        flex-direction: row;
    }
}
